{
  "trailingComma": "all",
  "tabWidth": 4,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "arrowParens": "avoid",
  "proseWrap": "preserve"
}